<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Не знайдено</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Вибачте, за цією адресою нічого немає.</p>
        </LayoutView>
    </NotFound>
</Router>
